<div fxLayout="column">
  <div fxFlexAlign="center">
    <div *ngIf="book; else loading">
      <h1>
        <md-icon>edit</md-icon>Edit: {{book.title}}</h1>
      <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
        <md-input-container fxFlexFill>
          <input mdInput placeholder="Title" required [(ngModel)]="book.title" #title="ngModel" name="book">
        </md-input-container>
        <md-input-container fxFlexFill>
          <textarea mdInput placeholder="Description" required [(ngModel)]="book.description" #description="ngModel" name="description"></textarea>
        </md-input-container>
        <button md-button (click)="cancel(book.id)">Cancel</button>
        <button type="submit" md-button [disabled]="!bookForm.form.valid">Save</button>
      </form>
    </div>

    <ng-template #loading>
      <p *ngIf="book !== undefined">Loading...</p>
    </ng-template>
  </div>
</div>
